/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #737d81; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html, body {
    background-color: rgb(36, 35, 35) !important;
    padding-top:40px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
}

img {
    width: 100%;
    height: auto;
}

h5 {
    color: white !important;
    text-align: center;
    font-size: 18pt !important;
}

h6#final {
    padding-top: 50px;
    color: white !important;
    text-align: center;
    font-size: 20pt;
}


@media(min-width: 1080px) {

    h5#shaving {
        padding-top: 25%;
    }
    
    h5#blueJackets {
        padding-top: 50%;
    }
    
    h5#fishing {
        padding-top: 30%;
    }
    
    h5#zoo {
        padding-top: 35%;
    }
    
    h5#dad {
        padding-top: 55%;
    }
    
}